
game development stuff/My project/Logs/AssetImportWorker0-prev.log
game development stuff/My project/Logs/AssetImportWorker0.log
game development stuff/My project/Logs/Packages-Update.log
game development stuff/My project/Logs/shadercompiler-AssetImportWorker0.log
game development stuff/My project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
game development stuff/My project/Packages/manifest.json
game development stuff/My project/Packages/packages-lock.json
game development stuff/My project/ProjectSettings/AudioManager.asset
game development stuff/My project/ProjectSettings/boot.config
game development stuff/My project/ProjectSettings/ClusterInputManager.asset
game development stuff/My project/ProjectSettings/DynamicsManager.asset
game development stuff/My project/ProjectSettings/EditorBuildSettings.asset
game development stuff/My project/ProjectSettings/EditorSettings.asset
game development stuff/My project/ProjectSettings/GraphicsSettings.asset
game development stuff/My project/ProjectSettings/InputManager.asset
game development stuff/My project/ProjectSettings/MemorySettings.asset
game development stuff/My project/ProjectSettings/NavMeshAreas.asset
game development stuff/My project/ProjectSettings/PackageManagerSettings.asset
game development stuff/My project/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
game development stuff/My project/ProjectSettings/Physics2DSettings.asset
game development stuff/My project/ProjectSettings/PresetManager.asset
game development stuff/My project/ProjectSettings/ProjectSettings.asset
game development stuff/My project/ProjectSettings/ProjectVersion.txt
game development stuff/My project/ProjectSettings/QualitySettings.asset
game development stuff/My project/ProjectSettings/SceneTemplateSettings.json
game development stuff/My project/ProjectSettings/TagManager.asset
game development stuff/My project/ProjectSettings/TimeManager.asset
game development stuff/My project/ProjectSettings/UnityConnectSettings.asset
game development stuff/My project/ProjectSettings/VersionControlSettings.asset
game development stuff/My project/ProjectSettings/VFXManager.asset
game development stuff/My project/ProjectSettings/XRSettings.asset
game development stuff/My project/UserSettings/EditorUserSettings.asset
game development stuff/My project/UserSettings/Layouts/default-2021.dwlt
web and mobile development/.idea/modules.xml
web and mobile development/.idea/vcs.xml
web and mobile development/.idea/web and mobile development.iml
web and mobile development/.idea/workspace.xml
web and mobile development/flutter and dart stuff/.idea/.name
web and mobile development/flutter and dart stuff/.idea/libraries/Dart_SDK.xml
web and mobile development/flutter and dart stuff/.idea/libraries/KotlinJavaRuntime.xml
web and mobile development/flutter and dart stuff/.idea/misc.xml
web and mobile development/flutter and dart stuff/.idea/modules.xml
web and mobile development/flutter and dart stuff/.idea/runConfigurations/main_dart.xml
web and mobile development/flutter and dart stuff/.idea/vcs.xml
web and mobile development/flutter and dart stuff/.idea/workspace.xml
web and mobile development/flutter and dart stuff/.metadata
web and mobile development/flutter and dart stuff/analysis_options.yaml
web and mobile development/flutter and dart stuff/android/app/build.gradle
web and mobile development/flutter and dart stuff/android/app/src/debug/AndroidManifest.xml
web and mobile development/flutter and dart stuff/android/app/src/main/AndroidManifest.xml
web and mobile development/flutter and dart stuff/android/app/src/main/kotlin/com/example/flutterdemo/MainActivity.kt
web and mobile development/flutter and dart stuff/android/app/src/main/res/drawable-v21/launch_background.xml
web and mobile development/flutter and dart stuff/android/app/src/main/res/drawable/launch_background.xml
web and mobile development/flutter and dart stuff/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
web and mobile development/flutter and dart stuff/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
web and mobile development/flutter and dart stuff/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
web and mobile development/flutter and dart stuff/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
web and mobile development/flutter and dart stuff/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
web and mobile development/flutter and dart stuff/android/app/src/main/res/values-night/styles.xml
web and mobile development/flutter and dart stuff/android/app/src/main/res/values/styles.xml
web and mobile development/flutter and dart stuff/android/app/src/profile/AndroidManifest.xml
web and mobile development/flutter and dart stuff/android/build.gradle
web and mobile development/flutter and dart stuff/android/flutterdemo_android.iml
web and mobile development/flutter and dart stuff/android/gradle.properties
web and mobile development/flutter and dart stuff/android/gradle/wrapper/gradle-wrapper.properties
web and mobile development/flutter and dart stuff/android/settings.gradle
web and mobile development/flutter and dart stuff/bin/web_and_mobile_development.dart
web and mobile development/flutter and dart stuff/CHANGELOG.md
web and mobile development/flutter and dart stuff/flutter project.iml
web and mobile development/flutter and dart stuff/flutter/
web and mobile development/flutter and dart stuff/ios/Flutter/AppFrameworkInfo.plist
web and mobile development/flutter and dart stuff/ios/Flutter/Debug.xcconfig
web and mobile development/flutter and dart stuff/ios/Flutter/Release.xcconfig
web and mobile development/flutter and dart stuff/ios/Runner.xcodeproj/project.pbxproj
web and mobile development/flutter and dart stuff/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
web and mobile development/flutter and dart stuff/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
web and mobile development/flutter and dart stuff/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
web and mobile development/flutter and dart stuff/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
web and mobile development/flutter and dart stuff/ios/Runner.xcworkspace/contents.xcworkspacedata
web and mobile development/flutter and dart stuff/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
web and mobile development/flutter and dart stuff/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
web and mobile development/flutter and dart stuff/ios/Runner/AppDelegate.swift
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
web and mobile development/flutter and dart stuff/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
web and mobile development/flutter and dart stuff/ios/Runner/Base.lproj/LaunchScreen.storyboard
web and mobile development/flutter and dart stuff/ios/Runner/Base.lproj/Main.storyboard
web and mobile development/flutter and dart stuff/ios/Runner/Info.plist
web and mobile development/flutter and dart stuff/ios/Runner/Runner-Bridging-Header.h
web and mobile development/flutter and dart stuff/lib/main.dart
web and mobile development/flutter and dart stuff/pubspec.lock
web and mobile development/flutter and dart stuff/pubspec.yaml
web and mobile development/flutter and dart stuff/README.md
web and mobile development/flutter and dart stuff/test/widget_test.dart
web and mobile development/flutter demo/.metadata
web and mobile development/flutter demo/analysis_options.yaml
web and mobile development/flutter demo/android/app/build.gradle
web and mobile development/flutter demo/android/app/src/debug/AndroidManifest.xml
web and mobile development/flutter demo/android/app/src/main/AndroidManifest.xml
web and mobile development/flutter demo/android/app/src/main/kotlin/com/example/flutter_demo/MainActivity.kt
web and mobile development/flutter demo/android/app/src/main/res/drawable-v21/launch_background.xml
web and mobile development/flutter demo/android/app/src/main/res/drawable/launch_background.xml
web and mobile development/flutter demo/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
web and mobile development/flutter demo/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
web and mobile development/flutter demo/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
web and mobile development/flutter demo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
web and mobile development/flutter demo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
web and mobile development/flutter demo/android/app/src/main/res/values-night/styles.xml
web and mobile development/flutter demo/android/app/src/main/res/values/styles.xml
web and mobile development/flutter demo/android/app/src/profile/AndroidManifest.xml
web and mobile development/flutter demo/android/build.gradle
web and mobile development/flutter demo/android/gradle.properties
web and mobile development/flutter demo/android/gradle/wrapper/gradle-wrapper.properties
web and mobile development/flutter demo/android/settings.gradle
web and mobile development/flutter demo/ios/Flutter/AppFrameworkInfo.plist
web and mobile development/flutter demo/ios/Flutter/Debug.xcconfig
web and mobile development/flutter demo/ios/Flutter/Release.xcconfig
web and mobile development/flutter demo/ios/Runner.xcodeproj/project.pbxproj
web and mobile development/flutter demo/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
web and mobile development/flutter demo/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
web and mobile development/flutter demo/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
web and mobile development/flutter demo/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
web and mobile development/flutter demo/ios/Runner.xcworkspace/contents.xcworkspacedata
web and mobile development/flutter demo/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
web and mobile development/flutter demo/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
web and mobile development/flutter demo/ios/Runner/AppDelegate.swift
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
web and mobile development/flutter demo/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
web and mobile development/flutter demo/ios/Runner/Base.lproj/LaunchScreen.storyboard
web and mobile development/flutter demo/ios/Runner/Base.lproj/Main.storyboard
web and mobile development/flutter demo/ios/Runner/Info.plist
web and mobile development/flutter demo/ios/Runner/Runner-Bridging-Header.h
web and mobile development/flutter demo/lib/main.dart
web and mobile development/flutter demo/pubspec.lock
web and mobile development/flutter demo/pubspec.yaml
web and mobile development/flutter demo/README.md
web and mobile development/flutter demo/test/widget_test.dart
